@use 'sake-components/src/lib/theme' as sk;
@import 'normalize.css';

@include sk.sake-theme(
    (
        primary: indigo,
        secondary: gray,
        info: light-blue,
        success: green,
        warn: orange,
        danger: red,
    )
);

html {
    height: 100dvh;
    color-scheme: light dark;
}
